SAMPLE_XROIS_MRT_TF_INFO_5MN/test2.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "f8d97222-3ce6-3bc9-8a1f-bf06abf63c52" : {
          "identifier" : "f8d97222-3ce6-3bc9-8a1f-bf06abf63c52",
          "name" : "[TB]데이터셋DB"
        },
        "28052bc4-08d1-335e-acb1-1122e108b2ac" : {
          "identifier" : "28052bc4-08d1-335e-acb1-1122e108b2ac",
          "name" : "JsonRecordSetWriter"
        },
        "c6d8bdd8-33a4-374b-ad10-0bc5b7276760" : {
          "identifier" : "c6d8bdd8-33a4-374b-ad10-0bc5b7276760",
          "name" : "dataengineering"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "977a22cc-32fc-3830-a896-e79a5ddd37b0",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "7b98d6d8-ba29-3698-ae6a-47a7be41f88f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "c48f4275-768d-3766-acb7-8d955fa92d0a",
            "name" : "원천 데이터 수집 구문 쿼리 추출",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "c1e94f1d-48d4-3bb3-b638-8360de62c5a6",
            "name" : "PutDatabaseRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "635a60d0-a27b-3740-8350-b872400dd15a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "977a22cc-32fc-3830-a896-e79a5ddd37b0",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "02aa4df0-9609-3910-afbc-62018ab60ef6",
            "name" : "원천 데이터셋 타입 분기(마스터/시계열)",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "69aa21bf-909b-3067-b17a-a50e98ff01eb",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "9c8c18c6-dc0f-3d83-917b-228b80ae4e5b",
            "name" : "추출 날짜 포맷 동기화",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
            "id" : "e96b2577-43c9-3787-a8fb-e387dca9876f",
            "name" : "원천 데이터셋 정보 입력",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "6898a433-8e77-363d-b189-03c1220afc1e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "9e7e0c3e-b920-369a-aa75-78f3df3d452e",
            "name" : "원천 데이터 정보 입력",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "c678a356-2597-36d7-9ac8-88673f4eb345",
            "name" : "임시 적재 테이블명 생성",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "0975498a-e2c4-3c81-861a-cee69eca7292",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "is_not_exists_standard_range_column" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "02aa4df0-9609-3910-afbc-62018ab60ef6",
            "name" : "원천 데이터셋 타입 분기(마스터/시계열)",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "9c8c18c6-dc0f-3d83-917b-228b80ae4e5b",
            "name" : "추출 날짜 포맷 동기화",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "c725de60-f185-38ef-b25a-db7f814f279d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "id" : "bc0cc202-4a97-3c46-9a1d-7e3aadb67fab",
            "name" : "파티션 생성 완료",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "6ea7edc7-6b10-3642-8ae8-108becc31ae0",
            "name" : "원천 데이터 추출 구문 생성",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "48a9a210-cb99-3b18-b296-76a197fc9b3b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "068135be-d2fc-3c5c-bd75-0398bcb78740",
            "name" : "조건 쿼리 추출",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "id" : "d6be4821-dbed-336f-a812-5271ec705a14",
            "name" : "파티션 생성 정보 입력",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "d8c822d5-9ec5-3e68-ad9d-1c6192d7c463",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "id" : "b0d1c298-bcff-3f5f-8da2-4fa83b791398",
            "name" : "추출 날짜 생성 출력",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "c48f4275-768d-3766-acb7-8d955fa92d0a",
            "name" : "원천 데이터 수집 구문 쿼리 추출",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "5c0d496c-75cd-3913-ac24-c34c41a48b6b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "6ea7edc7-6b10-3642-8ae8-108becc31ae0",
            "name" : "원천 데이터 추출 구문 생성",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "id" : "ed7ff121-f660-31f3-ac9f-6f433590b265",
            "name" : "추출 날짜 생성 입력",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "eace981e-1b03-35ad-88f5-ace71307bc47",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
            "id" : "8accd372-2803-3026-a77c-90a70cc8c9ce",
            "name" : "원천 및 적재 데이터셋 정보 출력",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "9e7e0c3e-b920-369a-aa75-78f3df3d452e",
            "name" : "원천 데이터 정보 입력",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "31500b97-8cf0-3c1a-a16b-a7e25b71ef95",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "0c0e51c5-069d-39cf-85cf-56bfb711f610",
            "name" : "추출 날짜 지정 및 실행",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 240.0,
            "y" : 1248.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "id" : "d6be4821-dbed-336f-a812-5271ec705a14",
            "name" : "파티션 생성 정보 입력",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "53a3e18a-789d-3d23-a26c-8f031b179d39",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "id" : "a24b2c29-bf0b-3569-ba4d-21c5313be4d4",
            "name" : "추출 지정 날짜 없음",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "068135be-d2fc-3c5c-bd75-0398bcb78740",
            "name" : "조건 쿼리 추출",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "4b416eb2-cbf8-3d52-85d8-55137825c0b0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "is_exists_standard_range_column" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "02aa4df0-9609-3910-afbc-62018ab60ef6",
            "name" : "원천 데이터셋 타입 분기(마스터/시계열)",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 264.0,
            "y" : 1568.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
            "id" : "9c8c18c6-dc0f-3d83-917b-228b80ae4e5b",
            "name" : "추출 날짜 포맷 동기화",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "a903e80b-a6f6-3c8c-8e85-aea39b10a3af",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "id" : "a5ab506f-48b0-358f-9a8c-9774b276bf2a",
            "name" : "파티션 생성 없음",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
        "inputPorts" : [ ],
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "height" : 64.0,
          "identifier" : "d82fcc3a-5ff2-33b6-9a58-c2da2ce788d7",
          "label" : "[추출 날짜 지정]\n- SOURCE_DATA_LAOD.TARGET_START_DATE\n- SOURCE_DATE_LOAD.TARGET_END_DATE",
          "position" : {
            "x" : 24.0,
            "y" : 240.0
          },
          "style" : {
            "font-size" : "12px"
          },
          "width" : 272.0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "height" : 192.0,
          "identifier" : "1c1e5cf2-b0d5-3ff7-9f15-3611c3e03d44",
          "label" : "[원천 및 적재 데이터셋 정보 조회]\n## 소스 데이터 정보 ##\n- SOURCE_DATA_LOAD.SOURCE.SYSTEM\n- SOURCE_DATA_LOAD.SOURCE.SCHEMA\n- SOURCE_DATA_LOAD.SOURCE.TABLE\n## 적재 데이터 정보 ##\n- SOURCE_DATA_LOAD.LOAD.SCHEMA\n- SOURCE_DATA_LOAD.LOAD.TABLE\n- SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN\n- SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN_TYPE\n- SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE\n- SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE",
          "position" : {
            "x" : -88.0,
            "y" : 752.0
          },
          "style" : {
            "font-size" : "12px"
          },
          "width" : 368.0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "height" : 56.0,
          "identifier" : "0882cf76-e1f9-3dc3-8597-968fa743649f",
          "label" : "[원천 데이터 정보 입력]\n- SOURCE_DATA_LOAD.SOURCE.SYSTEM\n- SOURCE_DATA_LOAD.SOURCE.TABLE",
          "position" : {
            "x" : 48.0,
            "y" : 480.0
          },
          "style" : {
            "font-size" : "12px"
          },
          "width" : 240.0
        } ],
        "name" : "[TEST]XROIS_MRT_TF_INFO_5MN",
        "outputPorts" : [ ],
        "position" : {
          "x" : 365.0000052615294,
          "y" : 311.0028758204105
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "c36dcfa7-2f8e-3906-9d6f-c64723de58d4",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "73b3a3be-a3e5-3e4b-982e-d866bf79fb45",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "splits" ],
            "source" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "19c2b4d6-4f4e-37c5-9455-723fe3a62bef",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "1e75c4cb-7851-3e20-b498-942b98e8ffc3",
              "name" : "추출 기간 생성",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "51033f4f-7271-3fd3-8111-b2637bddb78b",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "efc083ae-558a-3397-9254-4fbd15b705a7",
              "name" : "적재 기간 설정 유무 분기",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "efc083ae-558a-3397-9254-4fbd15b705a7",
              "name" : "적재 기간 설정 유무 분기",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "324f1de6-b4e3-3849-aeb8-b66379491f6d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "ed7ff121-f660-31f3-ac9f-6f433590b265",
              "name" : "추출 날짜 생성 입력",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "740f1f46-74e4-3b2b-a0c8-5f072a3da40b",
              "name" : "PutSQL",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "ccf3ac55-7de5-34f7-9c65-a0faf643664d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "c36dcfa7-2f8e-3906-9d6f-c64723de58d4",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "a24b2c29-bf0b-3569-ba4d-21c5313be4d4",
              "name" : "추출 지정 날짜 없음",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "b07003b0-bbe7-3475-b1d3-7f9869eab8a5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "efc083ae-558a-3397-9254-4fbd15b705a7",
              "name" : "적재 기간 설정 유무 분기",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "19c2b4d6-4f4e-37c5-9455-723fe3a62bef",
              "name" : "SplitText",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "99dab9da-165f-3e68-9931-70fc3619d060",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "1e75c4cb-7851-3e20-b498-942b98e8ffc3",
              "name" : "추출 기간 생성",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "b0d1c298-bcff-3f5f-8da2-4fa83b791398",
              "name" : "추출 날짜 생성 출력",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "84e5cba4-ada7-3f26-8c4a-515d2c290294",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "d3a34328-df58-3608-a502-30cf88371289",
              "name" : "ModifyBytes",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "d3a34328-df58-3608-a502-30cf88371289",
              "name" : "ModifyBytes",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "5ae2afe3-0982-360d-846b-334010b49721",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
              "id" : "c36dcfa7-2f8e-3906-9d6f-c64723de58d4",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ {
            "bundle" : {
              "artifact" : "nifi-record-serialization-services-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "CONTROLLER_SERVICE",
            "controllerServiceApis" : [ {
              "bundle" : {
                "artifact" : "nifi-standard-services-api-nar",
                "group" : "org.apache.nifi",
                "version" : "1.13.2"
              },
              "type" : "org.apache.nifi.serialization.RecordReaderFactory"
            } ],
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "28e14ba2-5d00-3ca2-9c18-77d167047b1a",
            "name" : "JsonTreeReader",
            "properties" : {
              "schema-name" : "${schema.name}",
              "schema-access-strategy" : "infer-schema",
              "schema-text" : "${avro.schema}"
            },
            "propertyDescriptors" : {
              "Timestamp Format" : {
                "displayName" : "Timestamp Format",
                "identifiesControllerService" : false,
                "name" : "Timestamp Format",
                "sensitive" : false
              },
              "schema-inference-cache" : {
                "displayName" : "Schema Inference Cache",
                "identifiesControllerService" : true,
                "name" : "schema-inference-cache",
                "sensitive" : false
              },
              "Date Format" : {
                "displayName" : "Date Format",
                "identifiesControllerService" : false,
                "name" : "Date Format",
                "sensitive" : false
              },
              "schema-branch" : {
                "displayName" : "Schema Branch",
                "identifiesControllerService" : false,
                "name" : "schema-branch",
                "sensitive" : false
              },
              "schema-name" : {
                "displayName" : "Schema Name",
                "identifiesControllerService" : false,
                "name" : "schema-name",
                "sensitive" : false
              },
              "schema-registry" : {
                "displayName" : "Schema Registry",
                "identifiesControllerService" : true,
                "name" : "schema-registry",
                "sensitive" : false
              },
              "Time Format" : {
                "displayName" : "Time Format",
                "identifiesControllerService" : false,
                "name" : "Time Format",
                "sensitive" : false
              },
              "schema-access-strategy" : {
                "displayName" : "Schema Access Strategy",
                "identifiesControllerService" : false,
                "name" : "schema-access-strategy",
                "sensitive" : false
              },
              "schema-version" : {
                "displayName" : "Schema Version",
                "identifiesControllerService" : false,
                "name" : "schema-version",
                "sensitive" : false
              },
              "schema-text" : {
                "displayName" : "Schema Text",
                "identifiesControllerService" : false,
                "name" : "schema-text",
                "sensitive" : false
              }
            },
            "type" : "org.apache.nifi.json.JsonTreeReader"
          } ],
          "defaultBackPressureDataSizeThreshold" : "",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "ed7ff121-f660-31f3-ac9f-6f433590b265",
            "name" : "추출 날짜 생성 입력",
            "position" : {
              "x" : 456.0,
              "y" : 80.0
            },
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "추출 날짜 생성",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "a24b2c29-bf0b-3569-ba4d-21c5313be4d4",
            "name" : "추출 지정 날짜 없음",
            "position" : {
              "x" : 1072.0,
              "y" : 280.0
            },
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "b0d1c298-bcff-3f5f-8da2-4fa83b791398",
            "name" : "추출 날짜 생성 출력",
            "position" : {
              "x" : 448.0,
              "y" : 1376.0
            },
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 320.0,
            "y" : 1000.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "original", "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "19c2b4d6-4f4e-37c5-9455-723fe3a62bef",
            "name" : "SplitText",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 384.0,
              "y" : 752.0
            },
            "properties" : {
              "Remove Trailing Newlines" : "true",
              "Header Line Count" : "0",
              "Line Split Count" : "1"
            },
            "propertyDescriptors" : {
              "Remove Trailing Newlines" : {
                "displayName" : "Remove Trailing Newlines",
                "identifiesControllerService" : false,
                "name" : "Remove Trailing Newlines",
                "sensitive" : false
              },
              "Maximum Fragment Size" : {
                "displayName" : "Maximum Fragment Size",
                "identifiesControllerService" : false,
                "name" : "Maximum Fragment Size",
                "sensitive" : false
              },
              "Header Line Marker Characters" : {
                "displayName" : "Header Line Marker Characters",
                "identifiesControllerService" : false,
                "name" : "Header Line Marker Characters",
                "sensitive" : false
              },
              "Header Line Count" : {
                "displayName" : "Header Line Count",
                "identifiesControllerService" : false,
                "name" : "Header Line Count",
                "sensitive" : false
              },
              "Line Split Count" : {
                "displayName" : "Line Split Count",
                "identifiesControllerService" : false,
                "name" : "Line Split Count",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.SplitText",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "efc083ae-558a-3397-9254-4fbd15b705a7",
            "name" : "적재 기간 설정 유무 분기",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 400.0,
              "y" : 248.0
            },
            "properties" : {
              "Routing Strategy" : "Route to 'match' if all match",
              "is_exists_load_range_date" : "${SOURCE_DATA_LOAD.TARGET_START_DATE:isEmpty():not():and(${SOURCE_DATA_LOAD.TARGET_END_DATE:isEmpty():not()})}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "is_exists_load_range_date" : {
                "displayName" : "is_exists_load_range_date",
                "identifiesControllerService" : false,
                "name" : "is_exists_load_range_date",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "d3a34328-df58-3608-a502-30cf88371289",
            "name" : "ModifyBytes",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 392.0,
              "y" : 1184.0
            },
            "properties" : {
              "Start Offset" : "0 B",
              "End Offset" : "0 B",
              "Remove All Content" : "true"
            },
            "propertyDescriptors" : {
              "Start Offset" : {
                "displayName" : "Start Offset",
                "identifiesControllerService" : false,
                "name" : "Start Offset",
                "sensitive" : false
              },
              "End Offset" : {
                "displayName" : "End Offset",
                "identifiesControllerService" : false,
                "name" : "End Offset",
                "sensitive" : false
              },
              "Remove All Content" : {
                "displayName" : "Remove All Content",
                "identifiesControllerService" : false,
                "name" : "Remove All Content",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ModifyBytes",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "1e75c4cb-7851-3e20-b498-942b98e8ffc3",
            "name" : "추출 기간 생성",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 400.0,
              "y" : 504.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "esqlrecord-record-writer" : "28052bc4-08d1-335e-acb1-1122e108b2ac",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "f8d97222-3ce6-3bc9-8a1f-bf06abf63c52",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "SELECT to_char(generate_series('${SOURCE_DATA_LOAD.TARGET_START_DATE}', '${SOURCE_DATA_LOAD.TARGET_END_DATE}', '1 day'::interval),'yyyymmdd') AS target_date\nORDER BY target_date ASC",
              "esqlrecord-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "esqlrecord-record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "esqlrecord-record-writer",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "esqlrecord-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "esqlrecord-normalize",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "c36dcfa7-2f8e-3906-9d6f-c64723de58d4",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 384.0,
              "y" : 968.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "Return Type" : "json",
              "SOURCE_DATA_LOAD.TARGET_DATE" : "$.target_date",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "SOURCE_DATA_LOAD.TARGET_DATE" : {
                "displayName" : "SOURCE_DATA_LOAD.TARGET_DATE",
                "identifiesControllerService" : false,
                "name" : "SOURCE_DATA_LOAD.TARGET_DATE",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "success", "failure", "retry" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "44d39449-8c4a-341e-bf3a-ed8bdd676d7b",
            "identifier" : "740f1f46-74e4-3b2b-a0c8-5f072a3da40b",
            "name" : "PutSQL",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 1040.0,
              "y" : 1000.0
            },
            "properties" : {
              "Support Fragmented Transactions" : "true",
              "putsql-sql-statement" : "insert into target(target_date) values('${SOURCE_DATA_LOAD.TARGET_DATE}');",
              "Batch Size" : "100",
              "Obtain Generated Keys" : "false",
              "JDBC Connection Pool" : "c6d8bdd8-33a4-374b-ad10-0bc5b7276760",
              "database-session-autocommit" : "false",
              "rollback-on-failure" : "false"
            },
            "propertyDescriptors" : {
              "Support Fragmented Transactions" : {
                "displayName" : "Support Fragmented Transactions",
                "identifiesControllerService" : false,
                "name" : "Support Fragmented Transactions",
                "sensitive" : false
              },
              "putsql-sql-statement" : {
                "displayName" : "SQL Statement",
                "identifiesControllerService" : false,
                "name" : "putsql-sql-statement",
                "sensitive" : false
              },
              "Transaction Timeout" : {
                "displayName" : "Transaction Timeout",
                "identifiesControllerService" : false,
                "name" : "Transaction Timeout",
                "sensitive" : false
              },
              "Batch Size" : {
                "displayName" : "Batch Size",
                "identifiesControllerService" : false,
                "name" : "Batch Size",
                "sensitive" : false
              },
              "Obtain Generated Keys" : {
                "displayName" : "Obtain Generated Keys",
                "identifiesControllerService" : false,
                "name" : "Obtain Generated Keys",
                "sensitive" : false
              },
              "JDBC Connection Pool" : {
                "displayName" : "JDBC Connection Pool",
                "identifiesControllerService" : true,
                "name" : "JDBC Connection Pool",
                "sensitive" : false
              },
              "database-session-autocommit" : {
                "displayName" : "Database Session AutoCommit",
                "identifiesControllerService" : false,
                "name" : "database-session-autocommit",
                "sensitive" : false
              },
              "rollback-on-failure" : {
                "displayName" : "Rollback On Failure",
                "identifiesControllerService" : false,
                "name" : "rollback-on-failure",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.PutSQL",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
              "id" : "9a8ecee0-ba83-36b9-a15a-2a8cc303417e",
              "name" : "원천 및 적재 데이터셋 조회 정보 입력",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "960746df-a90c-3b36-8f91-a4f540441018",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
              "id" : "18da9525-9bdf-3382-9a07-10ef7b780c23",
              "name" : "조회 데이터셋 개수 확인",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
              "id" : "34c05590-289f-3ba5-ba47-beaff651567f",
              "name" : "원천 및 적재 데이터셋 정보 조회2",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "6ffa699c-2f93-382d-9015-5c08db43f121",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
              "id" : "e96b2577-43c9-3787-a8fb-e387dca9876f",
              "name" : "원천 데이터셋 정보 입력",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
              "id" : "18da9525-9bdf-3382-9a07-10ef7b780c23",
              "name" : "조회 데이터셋 개수 확인",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "72066a6d-7571-33c8-bab9-964025da2357",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
              "id" : "34c05590-289f-3ba5-ba47-beaff651567f",
              "name" : "원천 및 적재 데이터셋 정보 조회2",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
              "id" : "8accd372-2803-3026-a77c-90a70cc8c9ce",
              "name" : "원천 및 적재 데이터셋 정보 출력",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "484262b6-341f-319b-9dcd-379dd2d2aac9",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
              "id" : "ad13b015-7158-3d4f-9bfb-e5347073344f",
              "name" : "ModifyBytes",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
              "id" : "ad13b015-7158-3d4f-9bfb-e5347073344f",
              "name" : "ModifyBytes",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "23fae755-bd7c-3818-8b7a-91304895d54f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "df626f65-d603-3995-b0d3-c2876c688483",
              "id" : "9a8ecee0-ba83-36b9-a15a-2a8cc303417e",
              "name" : "원천 및 적재 데이터셋 조회 정보 입력",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "df626f65-d603-3995-b0d3-c2876c688483",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "e96b2577-43c9-3787-a8fb-e387dca9876f",
            "name" : "원천 데이터셋 정보 입력",
            "position" : {
              "x" : 408.0,
              "y" : 72.0
            },
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "원천 및 적재 데이터셋 정보 조회",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "8accd372-2803-3026-a77c-90a70cc8c9ce",
            "name" : "원천 및 적재 데이터셋 정보 출력",
            "position" : {
              "x" : 392.0,
              "y" : 1168.0
            },
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 320.0,
            "y" : 704.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "18da9525-9bdf-3382-9a07-10ef7b780c23",
            "name" : "조회 데이터셋 개수 확인",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 352.0,
              "y" : 480.0
            },
            "properties" : {
              "Routing Strategy" : "Route to 'match' if all match",
              "only_single_source_data_set" : "${executesql.row.count:equals(1)}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "only_single_source_data_set" : {
                "displayName" : "only_single_source_data_set",
                "identifiesControllerService" : false,
                "name" : "only_single_source_data_set",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-avro-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "7c38e68c-c379-3761-93c1-8c65312e005c",
            "name" : "ConvertAvroToJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 864.0,
              "y" : 368.0
            },
            "properties" : {
              "JSON container options" : "array",
              "Wrap Single Record" : "false"
            },
            "propertyDescriptors" : {
              "JSON container options" : {
                "displayName" : "JSON container options",
                "identifiesControllerService" : false,
                "name" : "JSON container options",
                "sensitive" : false
              },
              "Wrap Single Record" : {
                "displayName" : "Wrap Single Record",
                "identifiesControllerService" : false,
                "name" : "Wrap Single Record",
                "sensitive" : false
              },
              "Avro schema" : {
                "displayName" : "Avro schema",
                "identifiesControllerService" : false,
                "name" : "Avro schema",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.avro.ConvertAvroToJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "34c05590-289f-3ba5-ba47-beaff651567f",
            "name" : "원천 및 적재 데이터셋 정보 조회2",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 352.0,
              "y" : 216.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "esqlrecord-record-writer" : "28052bc4-08d1-335e-acb1-1122e108b2ac",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "f8d97222-3ce6-3bc9-8a1f-bf06abf63c52",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "SELECT * \nFROM MANAGEMENT.SOURCE_DATASET_MANAGEMENT\nWHERE COALESCE(source_system_name ,'') = '${SOURCE_DATA_LOAD.SOURCE.SYSTEM}'\n\tAND source_table_name = '${SOURCE_DATA_LOAD.SOURCE.TABLE}'",
              "esqlrecord-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "esqlrecord-record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "esqlrecord-record-writer",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "esqlrecord-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "esqlrecord-normalize",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "0186f2e8-029e-31b0-a9e4-f55d5a159fb8",
            "name" : "원천 및 적재 데이터셋 정보 조회",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 800.0,
              "y" : 136.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "f8d97222-3ce6-3bc9-8a1f-bf06abf63c52",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "compression-format" : "NONE",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "SELECT *\nFROM MANAGEMENT.SOURCE_DATASET_MANAGEMENT\nWHERE COALESCE(source_system_name,'') = '${SOURCE_DATA_LOAD.SOURCE.SYSTEM}'\n    AND source_table_name= '${SOURCE_DATA_LOAD.SOURCE.TABLE}'",
              "dbf-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "compression-format" : {
                "displayName" : "Compression Format",
                "identifiesControllerService" : false,
                "name" : "compression-format",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "dbf-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "dbf-normalize",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "ad13b015-7158-3d4f-9bfb-e5347073344f",
            "name" : "ModifyBytes",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 344.0,
              "y" : 960.0
            },
            "properties" : {
              "Start Offset" : "0 B",
              "End Offset" : "0 B",
              "Remove All Content" : "true"
            },
            "propertyDescriptors" : {
              "Start Offset" : {
                "displayName" : "Start Offset",
                "identifiesControllerService" : false,
                "name" : "Start Offset",
                "sensitive" : false
              },
              "End Offset" : {
                "displayName" : "End Offset",
                "identifiesControllerService" : false,
                "name" : "End Offset",
                "sensitive" : false
              },
              "Remove All Content" : {
                "displayName" : "Remove All Content",
                "identifiesControllerService" : false,
                "name" : "Remove All Content",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ModifyBytes",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "df626f65-d603-3995-b0d3-c2876c688483",
            "identifier" : "9a8ecee0-ba83-36b9-a15a-2a8cc303417e",
            "name" : "원천 및 적재 데이터셋 조회 정보 입력",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 336.0,
              "y" : 712.0
            },
            "properties" : {
              "SOURCE_DATA_LOAD.SOURCE.TABLE" : "$.source_table_name",
              "Destination" : "flowfile-attribute",
              "Return Type" : "json",
              "SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE" : "$.load_partition_range_type",
              "SOURCE_DATA_LOAD.SOURCE.SCHEMA" : "$.source_schema_name",
              "Null Value Representation" : "empty string",
              "SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN" : "$.load_standard_range_column_name",
              "SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE" : "$.load_partition_column_type",
              "Path Not Found Behavior" : "ignore",
              "SOURCE_DATA_LOAD.STANDARD_RANGE_COLUMN_TYPE" : "$.load_standard_range_column_type",
              "SOURCE_DATA_LOAD.LOAD.TABLE" : "$.load_table_name",
              "SOURCE_DATA_LOAD.LOAD.SCHEMA" : "$.load_schema_name",
              "SOURCE_DATA_LOAD.SOURCE.SYSTEM" : "$.source_system_name"
            },
            "propertyDescriptors" : {
              "SOURCE_DATA_LOAD.SOURCE.TABLE" : {
                "displayName" : "SOURCE_DATA_LOAD.SOURCE.TABLE",
                "identifiesControllerService" : false,
                "name" : "SOURCE_DATA_LOAD.SOURCE.TABLE",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE" : {
                "displayName" : "SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE",
                "identifiesControllerService" : false,
                "name" : "SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE",
                "sensitive" : false
              },
              "SOURCE_DATA_LOAD.SOURCE.SCHEMA" : {
                "displayName" : "SOURCE_DATA_LOAD.SOURCE.SCHEMA",
                "identifiesControllerService" : false,
                "name" : "SOURCE_DATA_LOAD.SOURCE.SCHEMA",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN" : {
                "displayName" : "SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN",
                "identifiesControllerService" : false,
                "name" : "SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN",
                "sensitive" : false
              },
              "SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE" : {
                "displayName" : "SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE",
                "identifiesControllerService" : false,
                "name" : "SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              },
              "SOURCE_DATA_LOAD.STANDARD_RANGE_COLUMN_TYPE" : {
                "displayName" : "SOURCE_DATA_LOAD.STANDARD_RANGE_COLUMN_TYPE",
                "identifiesControllerService" : false,
                "name" : "SOURCE_DATA_LOAD.STANDARD_RANGE_COLUMN_TYPE",
                "sensitive" : false
              },
              "SOURCE_DATA_LOAD.LOAD.TABLE" : {
                "displayName" : "SOURCE_DATA_LOAD.LOAD.TABLE",
                "identifiesControllerService" : false,
                "name" : "SOURCE_DATA_LOAD.LOAD.TABLE",
                "sensitive" : false
              },
              "SOURCE_DATA_LOAD.LOAD.SCHEMA" : {
                "displayName" : "SOURCE_DATA_LOAD.LOAD.SCHEMA",
                "identifiesControllerService" : false,
                "name" : "SOURCE_DATA_LOAD.LOAD.SCHEMA",
                "sensitive" : false
              },
              "SOURCE_DATA_LOAD.SOURCE.SYSTEM" : {
                "displayName" : "SOURCE_DATA_LOAD.SOURCE.SYSTEM",
                "identifiesControllerService" : false,
                "name" : "SOURCE_DATA_LOAD.SOURCE.SYSTEM",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        }, {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "12fa0b65-6c73-3d9a-b625-395a1de3841e",
              "name" : "파티션 생성 정보 유무 분기",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "3fe81fa1-b6d0-3fa4-8ef7-64b4e65c73c2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "d6be4821-dbed-336f-a812-5271ec705a14",
              "name" : "파티션 생성 정보 입력",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "da71ca82-72ed-3fec-ae8e-6c7e87f8f422",
              "name" : "파티션 테이블 생성",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "742f115c-9cff-3a77-b20a-6c86670a3ee8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "a1cdebd0-8227-327c-9a32-0d1f21ae4852",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "a1cdebd0-8227-327c-9a32-0d1f21ae4852",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "4880c22b-1d1e-384e-abc9-3b5462a76cef",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "6b0b74c3-bb5a-3873-86ad-c34829cf08a1",
              "name" : "파티션 테이블 생성 쿼리 구문 생성",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "bc0cc202-4a97-3c46-9a1d-7e3aadb67fab",
              "name" : "파티션 생성 완료",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "f8b8b74d-17bd-3c4a-9ffb-ff700dba9f15",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "3ba53696-9ff6-3ec1-ac54-5295bf899d24",
              "name" : "ModifyBytes",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "6b0b74c3-bb5a-3873-86ad-c34829cf08a1",
              "name" : "파티션 테이블 생성 쿼리 구문 생성",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "67f3ad4f-57be-3174-b7c2-4b56a7e8a8dc",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "12fa0b65-6c73-3d9a-b625-395a1de3841e",
              "name" : "파티션 생성 정보 유무 분기",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "3ba53696-9ff6-3ec1-ac54-5295bf899d24",
              "name" : "ModifyBytes",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "9b289a30-dede-3309-b806-4bdb39d2a694",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "da71ca82-72ed-3fec-ae8e-6c7e87f8f422",
              "name" : "파티션 테이블 생성",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "a5ab506f-48b0-358f-9a8c-9774b276bf2a",
              "name" : "파티션 생성 없음",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "494455bf-e677-3e0c-8660-c11f22d121a3",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "unmatched" ],
            "source" : {
              "comments" : "",
              "groupId" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
              "id" : "12fa0b65-6c73-3d9a-b625-395a1de3841e",
              "name" : "파티션 생성 정보 유무 분기",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "defaultBackPressureDataSizeThreshold" : "",
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "d6be4821-dbed-336f-a812-5271ec705a14",
            "name" : "파티션 생성 정보 입력",
            "position" : {
              "x" : 430.9999887446409,
              "y" : 151.00286301079598
            },
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "테이블 파티션 생성",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "a5ab506f-48b0-358f-9a8c-9774b276bf2a",
            "name" : "파티션 생성 없음",
            "position" : {
              "x" : 1048.0,
              "y" : 312.0
            },
            "type" : "OUTPUT_PORT"
          }, {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "bc0cc202-4a97-3c46-9a1d-7e3aadb67fab",
            "name" : "파티션 생성 완료",
            "position" : {
              "x" : 464.0,
              "y" : 1384.0
            },
            "type" : "OUTPUT_PORT"
          } ],
          "position" : {
            "x" : 320.0,
            "y" : 1320.0
          },
          "processGroups" : [ ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "6b0b74c3-bb5a-3873-86ad-c34829cf08a1",
            "name" : "파티션 테이블 생성 쿼리 구문 생성",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 392.0,
              "y" : 512.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "esqlrecord-record-writer" : "28052bc4-08d1-335e-acb1-1122e108b2ac",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "f8d97222-3ce6-3bc9-8a1f-bf06abf63c52",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "WITH target AS(\n\tSELECT generate_series( '${SOURCE_DATA_LOAD.TARGET_DATE}', '${SOURCE_DATA_LOAD.TARGET_DATE}', CASE WHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'YEAR' THEN '1 year' WHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'MONTH' THEN '1 month' ELSE '1 day' END::interval) as target_date\n) \nSELECT \n\tformat(\n\t\t'CREATE TABLE IF NOT EXISTS %s.%s PARTITION OF %s.%s FOR VALUES FROM (''%s'') TO (''%s'')',\n\t\t'${SOURCE_DATA_LOAD.LOAD.SCHEMA}',\n\t\tformat('%s_%s', '${SOURCE_DATA_LOAD.LOAD.TABLE}',  to_char(target_date, CASE WHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'YEAR' THEN 'yyyy' WHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'MONTH' THEN 'yyyymm' ELSE 'yyyymmdd' END)),\n\t\t'${SOURCE_DATA_LOAD.LOAD.SCHEMA}',\n\t\t'${SOURCE_DATA_LOAD.LOAD.TABLE}',\n\t\tto_char(\n\t\t\ttarget_date, \n\t\t\tCASE \n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'YEAR' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'DATE' THEN 'yyyy-mm-dd'\n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'YEAR' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'TEXT' THEN 'yyyy'\n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'MONTH' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'DATE' THEN 'yyyy-mm-dd'\n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'MONTH' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'TEXT' THEN 'yyyymm'\n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'DAY' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'DATE' THEN 'yyyy-mm-dd'\n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'DAY' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'TEXT' THEN 'yyyymmdd'\n\t\t\tEND),\n\t\tto_char(\n\t\t\ttarget_date + CASE WHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'YEAR' THEN '1 year' WHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'MONTH' THEN '1 month' ELSE '1 day' END::interval, \n\t\t\tCASE \n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'YEAR' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'DATE' THEN 'yyyy-mm-dd'\n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'YEAR' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'TEXT' THEN 'yyyy'\n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'MONTH' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'DATE' THEN 'yyyy-mm-dd'\n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'MONTH' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'TEXT' THEN 'yyyymm'\n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'DAY' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'DATE' THEN 'yyyy-mm-dd'\n\t\t\t\tWHEN '${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE}' = 'DAY' AND '${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE}' = 'TEXT' THEN 'yyyymmdd'\n\t\t\tEND)\n\t) AS create_partition_table_ddl\nFROM target",
              "esqlrecord-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "esqlrecord-record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "esqlrecord-record-writer",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "esqlrecord-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "esqlrecord-normalize",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "3ba53696-9ff6-3ec1-ac54-5295bf899d24",
            "name" : "ModifyBytes",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 400.0,
              "y" : 1144.0
            },
            "properties" : {
              "Start Offset" : "0 B",
              "End Offset" : "0 B",
              "Remove All Content" : "true"
            },
            "propertyDescriptors" : {
              "Start Offset" : {
                "displayName" : "Start Offset",
                "identifiesControllerService" : false,
                "name" : "Start Offset",
                "sensitive" : false
              },
              "End Offset" : {
                "displayName" : "End Offset",
                "identifiesControllerService" : false,
                "name" : "End Offset",
                "sensitive" : false
              },
              "Remove All Content" : {
                "displayName" : "Remove All Content",
                "identifiesControllerService" : false,
                "name" : "Remove All Content",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ModifyBytes",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "a1cdebd0-8227-327c-9a32-0d1f21ae4852",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 392.0,
              "y" : 736.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "CREATE_PARTITION_TABLE_DDL" : "$.create_partition_table_ddl",
              "Return Type" : "json",
              "Null Value Representation" : "empty string",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "CREATE_PARTITION_TABLE_DDL" : {
                "displayName" : "CREATE_PARTITION_TABLE_DDL",
                "identifiesControllerService" : false,
                "name" : "CREATE_PARTITION_TABLE_DDL",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "da71ca82-72ed-3fec-ae8e-6c7e87f8f422",
            "name" : "파티션 테이블 생성",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 400.0,
              "y" : 936.0
            },
            "properties" : {
              "esql-max-rows" : "0",
              "esqlrecord-record-writer" : "28052bc4-08d1-335e-acb1-1122e108b2ac",
              "dbf-default-precision" : "10",
              "Max Wait Time" : "0 seconds",
              "Database Connection Pooling Service" : "c6d8bdd8-33a4-374b-ad10-0bc5b7276760",
              "dbf-user-logical-types" : "false",
              "dbf-default-scale" : "0",
              "esql-output-batch-size" : "0",
              "esql-fetch-size" : "0",
              "SQL select query" : "${CREATE_PARTITION_TABLE_DDL}",
              "esqlrecord-normalize" : "false"
            },
            "propertyDescriptors" : {
              "esql-max-rows" : {
                "displayName" : "Max Rows Per Flow File",
                "identifiesControllerService" : false,
                "name" : "esql-max-rows",
                "sensitive" : false
              },
              "esqlrecord-record-writer" : {
                "displayName" : "Record Writer",
                "identifiesControllerService" : true,
                "name" : "esqlrecord-record-writer",
                "sensitive" : false
              },
              "dbf-default-precision" : {
                "displayName" : "Default Decimal Precision",
                "identifiesControllerService" : false,
                "name" : "dbf-default-precision",
                "sensitive" : false
              },
              "Max Wait Time" : {
                "displayName" : "Max Wait Time",
                "identifiesControllerService" : false,
                "name" : "Max Wait Time",
                "sensitive" : false
              },
              "Database Connection Pooling Service" : {
                "displayName" : "Database Connection Pooling Service",
                "identifiesControllerService" : true,
                "name" : "Database Connection Pooling Service",
                "sensitive" : false
              },
              "sql-post-query" : {
                "displayName" : "SQL Post-Query",
                "identifiesControllerService" : false,
                "name" : "sql-post-query",
                "sensitive" : false
              },
              "dbf-user-logical-types" : {
                "displayName" : "Use Avro Logical Types",
                "identifiesControllerService" : false,
                "name" : "dbf-user-logical-types",
                "sensitive" : false
              },
              "dbf-default-scale" : {
                "displayName" : "Default Decimal Scale",
                "identifiesControllerService" : false,
                "name" : "dbf-default-scale",
                "sensitive" : false
              },
              "sql-pre-query" : {
                "displayName" : "SQL Pre-Query",
                "identifiesControllerService" : false,
                "name" : "sql-pre-query",
                "sensitive" : false
              },
              "esql-output-batch-size" : {
                "displayName" : "Output Batch Size",
                "identifiesControllerService" : false,
                "name" : "esql-output-batch-size",
                "sensitive" : false
              },
              "esql-fetch-size" : {
                "displayName" : "Fetch Size",
                "identifiesControllerService" : false,
                "name" : "esql-fetch-size",
                "sensitive" : false
              },
              "SQL select query" : {
                "displayName" : "SQL select query",
                "identifiesControllerService" : false,
                "name" : "SQL select query",
                "sensitive" : false
              },
              "esqlrecord-normalize" : {
                "displayName" : "Normalize Table/Column Names",
                "identifiesControllerService" : false,
                "name" : "esqlrecord-normalize",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.ExecuteSQLRecord",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.13.2"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "fa6f4a3a-f13b-3834-ab30-42248c20efa8",
            "identifier" : "12fa0b65-6c73-3d9a-b625-395a1de3841e",
            "name" : "파티션 생성 정보 유무 분기",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : 384.0,
              "y" : 280.0
            },
            "properties" : {
              "Routing Strategy" : "Route to 'match' if all match",
              "is_exists_create_partition_info" : "${SOURCE_DATA_LOAD.TARGET_DATE:isEmpty():not():and(\n\t${SOURCE_DATA_LOAD.LOAD.PARTITION_COLUMN_TYPE:isEmpty():not():and(\n\t\t${SOURCE_DATA_LOAD.LOAD.PARTITION_RANGE_TYPE:isEmpty():not()}\n\t)}\n)}"
            },
            "propertyDescriptors" : {
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "is_exists_create_partition_info" : {
                "displayName" : "is_exists_create_partition_info",
                "identifiesControllerService" : false,
                "name" : "is_exists_create_partition_info",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "9c8c18c6-dc0f-3d83-917b-228b80ae4e5b",
          "name" : "추출 날짜 포맷 동기화",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 336.0,
            "y" : 1632.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "SOURCE_DATA_LOAD.TARGET_DATE" : "${SOURCE_DATA_LOAD.TARGET_DATE:isEmpty():ifElse(\n\t'',\n\t${SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN_TYPE:isEmpty():ifElse(\n\t\t'',\n\t\t${SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN_TYPE:equals('YYYY'):ifElse(\n\t\t\t${SOURCE_DATA_LOAD.TARGET_DATE:substring(0,4)},\n\t\t\t${SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN_TYPE:equals('YYYYMM'):ifElse(\n\t\t\t\t${SOURCE_DATA_LOAD.TARGET_DATE:substring(0,6)},\n\t\t\t\t${SOURCE_DATA_LOAD.TARGET_DATE}\n\t\t\t\t)\n\t\t\t})\n\t\t})\n\t})\n}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "SOURCE_DATA_LOAD.TARGET_DATE" : {
              "displayName" : "SOURCE_DATA_LOAD.TARGET_DATE",
              "identifiesControllerService" : false,
              "name" : "SOURCE_DATA_LOAD.TARGET_DATE",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "c678a356-2597-36d7-9ac8-88673f4eb345",
          "name" : "임시 적재 테이블명 생성",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 24.0,
            "y" : 2088.0
          },
          "properties" : {
            "SOURCE_DATA_LOAD.LOAD.TEMP_TABLE" : "${SOURCE_DATA_LOAD.LOAD.TABLE}_${now():format('yyyyMMdd')}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "SOURCE_DATA_LOAD.LOAD.TEMP_TABLE" : {
              "displayName" : "SOURCE_DATA_LOAD.LOAD.TEMP_TABLE",
              "identifiesControllerService" : false,
              "name" : "SOURCE_DATA_LOAD.LOAD.TEMP_TABLE",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "02aa4df0-9609-3910-afbc-62018ab60ef6",
          "name" : "원천 데이터셋 타입 분기(마스터/시계열)",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 344.0,
            "y" : 1856.0
          },
          "properties" : {
            "is_exists_standard_range_column" : "${SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN:isEmpty():not()}",
            "Routing Strategy" : "Route to Property name",
            "is_not_exists_standard_range_column" : "${SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN:isEmpty()}"
          },
          "propertyDescriptors" : {
            "is_exists_standard_range_column" : {
              "displayName" : "is_exists_standard_range_column",
              "identifiesControllerService" : false,
              "name" : "is_exists_standard_range_column",
              "sensitive" : false
            },
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "is_not_exists_standard_range_column" : {
              "displayName" : "is_not_exists_standard_range_column",
              "identifiesControllerService" : false,
              "name" : "is_not_exists_standard_range_column",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "0c0e51c5-069d-39cf-85cf-56bfb711f610",
          "name" : "추출 날짜 지정 및 실행",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 328.00000001632066,
            "y" : 226.00284577966954
          },
          "properties" : {
            "character-set" : "UTF-8",
            "SOURCE_DATA_LOAD.TARGET_END_DATE" : "20211016",
            "SOURCE_DATA_LOAD.TARGET_START_DATE" : "20211011",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "SOURCE_DATA_LOAD.TARGET_END_DATE" : {
              "displayName" : "SOURCE_DATA_LOAD.TARGET_END_DATE",
              "identifiesControllerService" : false,
              "name" : "SOURCE_DATA_LOAD.TARGET_END_DATE",
              "sensitive" : false
            },
            "SOURCE_DATA_LOAD.TARGET_START_DATE" : {
              "displayName" : "SOURCE_DATA_LOAD.TARGET_START_DATE",
              "identifiesControllerService" : false,
              "name" : "SOURCE_DATA_LOAD.TARGET_START_DATE",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "8 hour",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "068135be-d2fc-3c5c-bd75-0398bcb78740",
          "name" : "조건 쿼리 추출",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 624.0,
            "y" : 2080.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "SOURCE_DATA_LOAD_WHERE_QUERY" : "${SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN:isEmpty():not():and(\n\t${SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN_TYPE:isEmpty():not()}\n):and(\n\t${SOURCE_DATA_LOAD.TARGET_DATE:isEmpty():not()}\n):ifElse(\n\t${SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN_TYPE:equals('DATE'):ifElse(\n\t\t${SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN:append('=to_timestamp('):append(${SOURCE_DATA_LOAD.TARGET_DATE}):append(',\\'yyyymmdd\\')')},\n\t\t${SOURCE_DATA_LOAD.LOAD.STANDARD_RANGE_COLUMN:append('='):append(${SOURCE_DATA_LOAD.TARGET_DATE})}\n\t)},\n\t'1=1'\n)}"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "SOURCE_DATA_LOAD_WHERE_QUERY" : {
              "displayName" : "SOURCE_DATA_LOAD_WHERE_QUERY",
              "identifiesControllerService" : false,
              "name" : "SOURCE_DATA_LOAD_WHERE_QUERY",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "6ea7edc7-6b10-3642-8ae8-108becc31ae0",
          "name" : "원천 데이터 추출 구문 생성",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 624.0,
            "y" : 2288.0
          },
          "properties" : {
            "gen-table-output-flowfile-on-zero-results" : "false",
            "Table Name" : "${SOURCE_DATA_LOAD.SOURCE.SCHEMA:isEmpty():ifElse(\n\t${SOURCE_DATA_LOAD.SOURCE.TABLE},\n\t${SOURCE_DATA_LOAD.SOURCE.SCHEMA:append('.'):append(${SOURCE_DATA_LOAD.SOURCE.TABLE})}\n)}",
            "db-fetch-db-type" : "Generic",
            "Max Wait Time" : "0 seconds",
            "Database Connection Pooling Service" : "f8d97222-3ce6-3bc9-8a1f-bf06abf63c52",
            "gen-table-fetch-partition-size" : "10000",
            "db-fetch-where-clause" : "${SOURCE_DATA_LOAD_WHERE_QUERY}"
          },
          "propertyDescriptors" : {
            "gen-table-output-flowfile-on-zero-results" : {
              "displayName" : "Output Empty FlowFile on Zero Results",
              "identifiesControllerService" : false,
              "name" : "gen-table-output-flowfile-on-zero-results",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "db-fetch-db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-fetch-db-type",
              "sensitive" : false
            },
            "gen-table-custom-orderby-column" : {
              "displayName" : "Custom ORDER BY Column",
              "identifiesControllerService" : false,
              "name" : "gen-table-custom-orderby-column",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "gen-table-fetch-partition-size" : {
              "displayName" : "Partition Size",
              "identifiesControllerService" : false,
              "name" : "gen-table-fetch-partition-size",
              "sensitive" : false
            },
            "Columns to Return" : {
              "displayName" : "Columns to Return",
              "identifiesControllerService" : false,
              "name" : "Columns to Return",
              "sensitive" : false
            },
            "Maximum-value Columns" : {
              "displayName" : "Maximum-value Columns",
              "identifiesControllerService" : false,
              "name" : "Maximum-value Columns",
              "sensitive" : false
            },
            "db-fetch-where-clause" : {
              "displayName" : "Additional WHERE clause",
              "identifiesControllerService" : false,
              "name" : "db-fetch-where-clause",
              "sensitive" : false
            },
            "gen-table-column-for-val-partitioning" : {
              "displayName" : "Column for Value Partitioning",
              "identifiesControllerService" : false,
              "name" : "gen-table-column-for-val-partitioning",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateTableFetch",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "977a22cc-32fc-3830-a896-e79a5ddd37b0",
          "name" : "ExecuteSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 624.0,
            "y" : 2720.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "dbf-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "c1e94f1d-48d4-3bb3-b638-8360de62c5a6",
          "name" : "PutDatabaseRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 624.0,
            "y" : 2944.0
          },
          "properties" : {
            "put-db-record-allow-multiple-statements" : "false",
            "table-schema-cache-size" : "100",
            "put-db-record-quoted-table-identifiers" : "false",
            "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
            "put-db-record-translate-field-names" : "true",
            "put-db-record-query-timeout" : "0 seconds",
            "rollback-on-failure" : "false",
            "db-type" : "Generic",
            "put-db-record-quoted-identifiers" : "false",
            "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
            "put-db-record-max-batch-size" : "0"
          },
          "propertyDescriptors" : {
            "put-db-record-allow-multiple-statements" : {
              "displayName" : "Allow Multiple SQL Statements",
              "identifiesControllerService" : false,
              "name" : "put-db-record-allow-multiple-statements",
              "sensitive" : false
            },
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "put-db-record-schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-schema-name",
              "sensitive" : false
            },
            "put-db-record-field-containing-sql" : {
              "displayName" : "Field Containing SQL",
              "identifiesControllerService" : false,
              "name" : "put-db-record-field-containing-sql",
              "sensitive" : false
            },
            "put-db-record-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-table-identifiers",
              "sensitive" : false
            },
            "Statement Type Record Path" : {
              "displayName" : "Statement Type Record Path",
              "identifiesControllerService" : false,
              "name" : "Statement Type Record Path",
              "sensitive" : false
            },
            "put-db-record-unmatched-column-behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-column-behavior",
              "sensitive" : false
            },
            "put-db-record-catalog-name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-catalog-name",
              "sensitive" : false
            },
            "put-db-record-translate-field-names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "put-db-record-translate-field-names",
              "sensitive" : false
            },
            "put-db-record-dcbp-service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "put-db-record-dcbp-service",
              "sensitive" : false
            },
            "put-db-record-query-timeout" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "put-db-record-query-timeout",
              "sensitive" : false
            },
            "rollback-on-failure" : {
              "displayName" : "Rollback On Failure",
              "identifiesControllerService" : false,
              "name" : "rollback-on-failure",
              "sensitive" : false
            },
            "put-db-record-statement-type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "put-db-record-statement-type",
              "sensitive" : false
            },
            "db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-type",
              "sensitive" : false
            },
            "put-db-record-update-keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "put-db-record-update-keys",
              "sensitive" : false
            },
            "put-db-record-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "put-db-record-quoted-identifiers",
              "sensitive" : false
            },
            "put-db-record-table-name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "put-db-record-table-name",
              "sensitive" : false
            },
            "put-db-record-unmatched-field-behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "put-db-record-unmatched-field-behavior",
              "sensitive" : false
            },
            "put-db-record-max-batch-size" : {
              "displayName" : "Maximum Batch Size",
              "identifiesControllerService" : false,
              "name" : "put-db-record-max-batch-size",
              "sensitive" : false
            },
            "put-db-record-record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "put-db-record-record-reader",
              "sensitive" : false
            },
            "Data Record Path" : {
              "displayName" : "Data Record Path",
              "identifiesControllerService" : false,
              "name" : "Data Record Path",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "unmatched" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "c48f4275-768d-3766-acb7-8d955fa92d0a",
          "name" : "원천 데이터 수집 구문 쿼리 추출",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 624.0,
            "y" : 2504.0
          },
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "Enable named group support" : "false",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "Maximum Buffer Size" : "1 KB",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "Maximum Capture Group Length" : "200",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true",
            "extract-text-enable-repeating-capture-group" : "false",
            "EXTRACT_SQL" : ".*"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "displayName" : "Enable Unicode Predefined Character Classes",
              "identifiesControllerService" : false,
              "name" : "Enable Unicode Predefined Character Classes",
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "identifiesControllerService" : false,
              "name" : "Permit Whitespace and Comments in Pattern",
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "displayName" : "Enable Unicode-aware Case Folding",
              "identifiesControllerService" : false,
              "name" : "Enable Unicode-aware Case Folding",
              "sensitive" : false
            },
            "Enable named group support" : {
              "displayName" : "Enable named group support",
              "identifiesControllerService" : false,
              "name" : "Enable named group support",
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "displayName" : "Enable DOTALL Mode",
              "identifiesControllerService" : false,
              "name" : "Enable DOTALL Mode",
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "displayName" : "Enable Unix Lines Mode",
              "identifiesControllerService" : false,
              "name" : "Enable Unix Lines Mode",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "displayName" : "Enable Canonical Equivalence",
              "identifiesControllerService" : false,
              "name" : "Enable Canonical Equivalence",
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "displayName" : "Enable Case-insensitive Matching",
              "identifiesControllerService" : false,
              "name" : "Enable Case-insensitive Matching",
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "displayName" : "Enable Multiline Mode",
              "identifiesControllerService" : false,
              "name" : "Enable Multiline Mode",
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "displayName" : "Maximum Capture Group Length",
              "identifiesControllerService" : false,
              "name" : "Maximum Capture Group Length",
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "displayName" : "Enable Literal Parsing of the Pattern",
              "identifiesControllerService" : false,
              "name" : "Enable Literal Parsing of the Pattern",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "displayName" : "Include Capture Group 0",
              "identifiesControllerService" : false,
              "name" : "Include Capture Group 0",
              "sensitive" : false
            },
            "extract-text-enable-repeating-capture-group" : {
              "displayName" : "Enable repeating capture group",
              "identifiesControllerService" : false,
              "name" : "extract-text-enable-repeating-capture-group",
              "sensitive" : false
            },
            "EXTRACT_SQL" : {
              "displayName" : "EXTRACT_SQL",
              "identifiesControllerService" : false,
              "name" : "EXTRACT_SQL",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.13.2"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "fa5d58fd-df8c-3151-be82-998cd63548fe",
          "identifier" : "9e7e0c3e-b920-369a-aa75-78f3df3d452e",
          "name" : "원천 데이터 정보 입력",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 328.0,
            "y" : 448.0
          },
          "properties" : {
            "SOURCE_DATA_LOAD.SOURCE.TABLE" : "MRT_TF_INFO_5MN",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100",
            "SOURCE_DATA_LOAD.SOURCE.SYSTEM" : "DB2-TEST_SAMPLE"
          },
          "propertyDescriptors" : {
            "SOURCE_DATA_LOAD.SOURCE.TABLE" : {
              "displayName" : "SOURCE_DATA_LOAD.SOURCE.TABLE",
              "identifiesControllerService" : false,
              "name" : "SOURCE_DATA_LOAD.SOURCE.TABLE",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "SOURCE_DATA_LOAD.SOURCE.SYSTEM" : {
              "displayName" : "SOURCE_DATA_LOAD.SOURCE.SYSTEM",
              "identifiesControllerService" : false,
              "name" : "SOURCE_DATA_LOAD.SOURCE.SYSTEM",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}